body {
  margin: 0;
  font-family: Nebula, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Century Gothic',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y:scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  };
  &::-webkit-scrollbar-thumb {
    background-color: #FF4500;
  };
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
